body {
  padding: 0;
  margin: 0;
  // overflow: hidden;
}

.title {
  background: rgb(252, 168, 99);
  text-align: center;
  color: white;
  font-size: 20px;
}
.wallpaper-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  .wallpaper-item {
    // width: 100px;
    // height: 100px;
    min-width: 100px;
    min-height: 100px;
    margin: 4px;
    color: white;
    background: #a1a1a1;
    border-radius: 5px;
    text-align: center;
    line-height: 100px;
  }
}
