@import url(./reset.scss);

$background-color: rgb(76, 61, 76);
$font-color: rgb(255, 255, 255);
$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$font-weight: 400;
$line-height: 1.5;
$border-radius: 4px;

body {
  background-color: $background-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  user-select: none;
}

// 顶部菜单栏
.main-header {
  .drag,
  .logo {
    -webkit-app-region: drag;
    // cursor: move;
  }

  .no-drag {
    -webkit-user-drag: none;
    cursor: default;
  }
}
