@import url(./reset.scss);

$background-color: rgb(76, 61, 76);
$font-color: rgb(255, 255, 255);
$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$font-weight: 400;
$line-height: 1.5;
$border-radius: 4px;
$border-color: #e5e5e5;
$border-width: 1px;
$border-style: solid;
$box-shadow:
  0 0 0 1px rgba(0, 0, 0, 0.05),
  0 1px 2px rgba(0, 0, 0, 0.1);

body {
  // color: $font-color;
  background-color: $background-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  user-select: none;
}

// 壁纸列表页下隐藏 ant-image
.list-page {
  .ant-image {
    display: none !important;
  }
}
.ant-image-preview-operations-wrapper {
  top: 100px !important;
}

.ant-image-preview-close {
  display: none !important;
}
.img-toolbar-wrapper {
  position: fixed;
  bottom: 32px;
  left: 50%;
  padding: 0px 24px;
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  transform: translateX(-50%);
  gap: 4px !important;
  .anticon {
    padding: 12px;
    cursor: pointer;
  }
  .anticon[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
  }
  .anticon:hover {
    opacity: 0.3;
  }
}

// 顶部菜单栏
.main-header {
  .drag,
  .logo {
    -webkit-app-region: drag;
    // cursor: move;
  }

  .no-drag {
    -webkit-user-drag: none;
    cursor: default;
  }
}
